<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Your First Name" formControlName="firstName" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Your Last Name" formControlName="lastName" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Your Email" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Your password" formControlName="password" />
  </mat-form-field>

  <mat-button-toggle-group formControlName="gender" name="gender" aria-label="gender">
    <mat-button-toggle value="male">Male</mat-button-toggle>
    <mat-button-toggle value="female">Female</mat-button-toggle>
    <mat-button-toggle value="neutral">Neutral</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" formControlName="birthday" />
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"> </mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="submit()">
    Register
  </button>
</mat-dialog-actions>
