<main>
  <mat-card *ngIf="hotel">
    <!-- (click)="openHotel(hotel.id)" -->
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" [src]="hotel.profile?.photo" />
      <mat-card-title>{{ hotel.title }}</mat-card-title>
      <mat-card-subtitle>{{ hotel.address }}</mat-card-subtitle>
      <mat-card-subtitle>{{ hotel.phone }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hotel.photos[0]" alt="Photo of {{ hotel.title }}" />
    <mat-card-content>
      <p>
        {{ hotel.description }}
      </p>
      <mat-card-actions>
        <button
          mat-button
          mat-stroked-button
          color="primary"
          class="favor"
          (click)="addToFavorites($event, hotel.id)"
        >
          Favor
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"
            >favorite</mat-icon
          >
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</main>
