<h1>Hot Weather Widget</h1>

<div class="element">
  <app-list
    [hotels]="hotels"
    [selectedHotelId]="selectedHotelId"
    (selectedHotel)="setHotel($event)"
    (addedFavoritesId)="addToFavorites($event)"
  ></app-list>

  <div class="element-right">
    <app-weather [currentHotel]="currentHotel"></app-weather>
    <app-profile [currentHotel]="currentHotel"></app-profile>
  </div>
  <div class="clear"></div>
  <app-favorites
    [favoriteHotels]="favoriteHotels"
    (unfavorHotelId)="removeFromFavorites($event)"
  ></app-favorites>
</div>
<notifier-container></notifier-container>
