.favor {
  cursor: pointer;
  outline: none;
}
button {
  font-size: 0.6em;
}
label {
  font-size: 0.8em;
  color: #fff;
}
.ele-strip {
  ul {
    font-size: 0.8em;
  }
  li {
    a {
      cursor: pointer;
    }
  }
}
