<div class="grid-3">
  <div class="element-bg-img">
    <img src="assets/images/1.jpg" alt="" class="img-responsive" />
  </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li (click)="sortByRating('All')"><a>All</a></li>
        <li (click)="sortByRating(3)"><a>Three</a></li>
        <li (click)="sortByRating(4)"><a>Four</a></li>
        <li (click)="sortByRating(5)" class="anc-bor"><a>Five</a></li>
      </ul>
      <label>
        Search:
        <input type="text" [value]="searchValue" [(ngModel)]="searchValue" />
      </label>
      <!-- <app-pagination [hotelsTotal]="allHotels?.length" [link]="link"> </app-pagination>
       -->
      <mat-paginator
        [length]="allHotels?.length"
        [pageSize]="3"
        hidePageSize="true"
        (page)="changePage($event)"
      >
      </mat-paginator>
    </div>
    <div class="village scrollbar">
      <h3>Your hotel selection</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="" id="style-2">
          <div
            *ngFor="
              let hotel of shownHotels | filterHotels: searchValue | sortByRating: starsNumber
            "
            class="activity-row"
            [ngClass]="{ active: selectedHotelId === hotel.id }"
            (click)="selectHotel(hotel.id)"
          >
            <div class="activity-desc">
              <h5>{{ hotel.title }}</h5>
              <p>{{ hotel.description }}</p>
              <p>{{ hotel.address }}</p>
              <h6>{{ hotel.phone }}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img [src]="hotel.photos[0]" alt="" /></li>
                <li><img [src]="hotel.photos[1]" alt="" /></li>
              </ul>
            </div>
            <div class="clear"></div>
            <button class="favor" (click)="emitFavorites($event, hotel.id)">
              + Add to Favorites
            </button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
