.favor {
  cursor: pointer;
  outline: none;
}
button {
  font-size: 0.6em;
}
label {
  font-size: 0.8em;
  color: #fff;
}
.ele-strip {
  ul {
    font-size: 0.8em;
  }
  li {
    a {
      cursor: pointer;
    }
  }
}
.mat-paginator {
  background-color: transparent;
  .mat-paginator-outer-container {
  }
}
.mat-paginator-container {
  background-color: aquamarine;
  color: red;
  min-height: 30px;
  height: 30px;
}
