<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span> <a routerLink="/hotels">CouchBooker</a></span>

      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          <a routerLink="/hotels" routerLinkActive="active-link">Home</a>
        </mat-list-item>
        <mat-list-item
          matBadge="{{ favCounter$ | async }}"
          matBadgePosition="above before"
          matBadgeColor="accent"
        >
          <a routerLink="/favorites" routerLinkActive="active-link">Favorites</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/about" routerLinkActive="active-link">About</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
        </mat-list-item>
        <mat-list-item *ngIf="isLoggedIn$ | async">
          <a routerLink="/users" routerLinkActive="active-link">Users</a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list class="list-horizontal right-hand">
        <mat-list-item>
          <a (click)="openLoginDialog()">Login</a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list class="list-horizontal right-hand">
        <mat-list-item>
          <a (click)="openRegisterDialog()">Register</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
