<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span> <a routerLink="/hotels">CouchBooker</a></span>

      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          <a routerLink="/hotels" routerLinkActive="active-link">Home</a>
        </mat-list-item>
        <mat-list-item matBadge="8" matBadgePosition="above before" matBadgeColor="accent">
          <a routerLink="/favorites" routerLinkActive="active-link">Favorites</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/about" routerLinkActive="active-link">About</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
        </mat-list-item>
      </mat-nav-list>
      <!-- <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->

      <!-- Card <mat-action-list>
        <button mat-list-item (click)="save()">Save</button>
        <button mat-list-item (click)="undo()">Undo</button>
      </mat-action-list> -->

      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"
        >favorite</mat-icon
      >
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon"
        >delete</mat-icon
      > -->
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
