<div class="favorites grid-3">
  <div class="village scrollbar">
    <h3>Your Favorites</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="" id="style-2">
        <div *ngFor="let hotel of (favoriteHotels | sortFavs)" class="activity-row-fav">
          <div class="activity-desc">
            <h5>{{ hotel.title }}</h5>
            <p>{{ hotel.description }}</p>
            <p>{{ hotel.address }}</p>
            <h6>{{ hotel.phone }}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img [src]="hotel.photos[0]" alt="" /></li>
              <li><img [src]="hotel.photos[1]" alt="" /></li>
            </ul>
          </div>
          <button class="remove" (click)="emitUnfavorHotelId(hotel.id)">X</button>
          <div class="clear"></div>
          <div class="vote-btns">
            <span class="rating">{{ hotel.rating }}</span>
            <span class="upvote" (click)="updateRating(hotel.id, 1)">Upvote</span>
            <span class="downvote" (click)="updateRating(hotel.id, -1)">Downvote</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
